@use "../common/define" as *;
@use "../common/functions" as *;

.single-blog-wrapper {
  h1 {
    @include h1-blog-style(map-get($global-colors, "main"));
  }
  h2 {
    @include h2-blog-style(map-get($global-colors, "main"));
  }
  h3 {
    @include h3-blog-style(map-get($global-colors, "main"));
  }
  div,
  img,
  p,
  ul,
  a {
    margin-top: mu(4);
  }
  img {
    max-width: map-get($max-width, "single-blog-main");
    width: 100%;
  }
  .mt-0 {
    margin-top: 0 !important;
  }
}

.single-blog-content {
  max-width: map-get($max-width, "single-blog-main");
  a {
    display: inline-block;
    color: map-get($global-colors, "sub");
    text-decoration: underline;
  }
  li {
    padding-left: mu(4);
    position: relative;
  }
  li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: map-get($global-colors, "sub");
    border-radius: 50%;
  }
}

.single-blog-side {
  li {
    margin: mu(2) 0;
    padding-left: mu(3);
    position: relative;
    color: map-get($global-colors, "main");
    a {
      font-weight: bold;
    }
  }
  li::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 10px;
    width: 5px;
    height: 5px;
    background-color: map-get($global-colors, "main");
    border-radius: 50%;
  }
}

.quote-wrapper {
  display: flex;
  background-color: map-get($global-colors, "fill");
  padding: mu(3) mu(3) mu(2) 0;
  p {
    margin-top: 0;
  }

  .p-quote-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 mu(1) 0 mu(2);
    font-weight: medium;
    font-size: mu(11);
    line-height: mu(9);
    color: map-get($global-colors, "quote");
  }
}

.single-blog-small-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: mu(1) 0;
  width: mu(13);
  background-color: map-get($global-colors, "main");
  @include p-small-style(map-get($global-colors, "font-sub"));
}

.single-blog-large-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: mu(2) 0;
  width: mu(33);
  background-color: map-get($global-colors, "main");
  @include p-large-style(map-get($global-colors, "font-sub"));
  @include respond(tablet-portrait-phone) {
    width: 100%;
  }
}

.single-blog-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: mu(8);
  width: 100%;
  @include respond(tablet-portrait) {
    padding: 0 mu(4);
  }
  @include respond(phone) {
    padding: 0 mu(3);
  }

  > div {
    max-width: map-get($max-width, "content");
    width: 100%;
  }

  .single-blog {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: mu(4);
    @include respond(tablet-portrait-desktop) {
      margin-top: 0;
    }
    @include respond(tablet-portrait-phone) {
      display: block;
    }
    @include respond(tablet-portrait) {
      padding: 0 mu(4);
    }
    @include respond(phone) {
      padding: 0 mu(3);
    }

    &-content {
      &-info {
        display: flex;
        justify-content: space-between;
        margin-top: mu(3);
        div,
        p {
          margin-top: 0;
        }

        &-share {
          display: flex;
          justify-content: flex-start;
          margin-top: 0;

          > p {
            display: flex;
            margin-top: 0;
            margin-right: 4px;
            padding: 0 mu(1);
            border-radius: 3px;
            @include reset-horizon-margins;
            color: map-get($global-colors, "font-sub");
            i {
              display: flex;
              align-items: center;
              margin-right: mu(1) * 0.5;
              font-size: 12px;
            }
          }

          &-like {
            background-color: map-get($global-colors, "share");
          }

          &-share {
            background-color: map-get($global-colors, "share");
          }

          &-twitter {
            background-color: map-get($global-colors, "twitter");
          }
        }
      }
    }

    &-side {
      @include respond(tablet-portrait-phone) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: mu(2);
      }
      @include respond(tablet-portrait-desktop) {
        div:first-child {
          margin-top: 0;
          > p {
            margin-top: 0;
          }
        }
      }

      &-post {
        display: grid;
        grid-template-columns: 1fr 1.4fr;
        gap: mu(2);
        margin-top: mu(5);

        img,
        a {
          display: flex;
          align-items: flex-start;
          margin-top: 0;
        }
        img {
          min-height: mu(9);
        }
        a {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          @include p-medium-style(map-get($global-colors, "main"));
          text-decoration: underline;
          word-break: break-word;
        }
      }
    }
  }
}

.single-blog-content-text-recommend-post {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  gap: mu(4);

  .post-img {
    position: relative;
    background-size: cover;
    height: mu(17);
    img {
      width: 100%;
      height: 100%;
    }
    p {
      display: -webkit-box;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 mu(1);
      background-color: map-get($global-colors, "main");
      @include p-small-style(map-get($global-colors, "font-sub"));
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 50%;
      text-align: center;
      height: 2em;
      line-height: 2em;
    }
  }

  .post-text {
    > * {
      margin-top: mu(3);
    }
    &-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      @include p-style(map-get($global-colors, "font-main"));
      font-weight: bold;
      text-decoration: underline;
      word-break: break-word;
    }
  }
}
