@use '../common/define' as *;
@use '../common/functions' as *;

.home-main-wrapper {
  background: url('../../images/home_main_2x.png') no-repeat center center;
  background-size: cover;
  
  .home-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    * {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: map-get($global-colors, "font-sub");
    }
    
    &-title{
      @include h2-emphasize-style(map-get($global-colors, "white"));
    }
  }
}

.home-section-post-wrapper {
  .home-section-post {
    &-content {
      &-item {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        gap: mu(6);
        margin: mu(11) 0;
        @include reset-horizon-margins;
        &:nth-child(even) {
          .home-section-post-content-item-img {
            background: url('../../images/sample02.jpg') no-repeat center center;
            background-size: cover;
          }
        }
        &:nth-child(odd) {
          .home-section-post-content-item-img {
            background: url('../../images/sample03.jpg') no-repeat center center;
            background-size: cover;
          }
        }
        &:first-child {
          .home-section-post-content-item-img {
            background: url('../../images/sample01.jpg') no-repeat center center;
            background-size: cover;
          }
        }
        @include respond(phone) {
          display: block;
        }
        @include respond(tablet-portrait) {
          grid-template-columns: 1fr 2fr;
          gap: mu(3);
        }

        &-img {
          height: mu(21);
          @include respond(phone) {
            width: 100%;
            height: mu(40);
          }
          &-category {
            display: flex;
            justify-content: center;
            align-items: center;
            width: mu(10);
            height: mu(4);
            background-color: map-get($global-colors, "main");
            p {
              @include p-small-style(map-get($global-colors, "font-sub"));
            }
          }
        }

        &-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @include respond(phone) {
            margin-top: mu(4);
          }

          &-title {
            @include respond(phone) {
              margin-top: mu(2);
            }
            p {
              @include p-large-style(map-get($global-colors, "main"));
              text-decoration: underline;
            }
          }

          &-content {
            @include respond(phone) {
              margin-top: mu(2);
            }
            height: mu(7);
          }
        }
      }
    }
  }
}