@use "../common/define" as *;
@use "../common/functions" as *;

.archive-blog-main-wrapper {
  background: url("../images/blog_main_2x.png") no-repeat center center;
  background-size: cover;

  .archive-blog-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    * {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: map-get($global-colors, "font-sub");
    }

    &-title {
      @include h2-emphasize-style(map-get($global-colors, "white"));
    }
  }
}
.archive-blog-section-post-wrapper {
  .archive-blog-section-post {
    &-content {
      &-item {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        gap: mu(6);
        margin: mu(11) 0;
        @include reset-horizon-margins;
        @include respond(phone) {
          display: block;
        }
        @include respond(tablet-portrait) {
          grid-template-columns: 1fr 2fr;
          gap: mu(3);
        }

        &-img {
          position: relative;
          width: 100%;
          height: auto;
          img {
            width: 100%;
            height: 100%;
          }
          &-category {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            max-width: mu(10);
            height: mu(4);
            padding: mu(1);
            background-color: map-get($global-colors, "main");
            p {
              @include p-small-style(map-get($global-colors, "font-sub"));
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        &-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @include respond(phone) {
            margin-top: mu(4);
          }

          &-title {
            @include respond(phone) {
              margin-top: mu(2);
            }
            p {
              @include p-large-style(map-get($global-colors, "main"));
              text-decoration: underline;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          &-content {
            p {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            @include respond(phone) {
              margin-top: mu(2);
            }
            height: mu(7);
          }
        }
      }
    }
  }
}
