@use '../common/define' as *;
@use '../common/functions' as *;

header {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: map-get($z-index, "header");
  width: 100%;
  background-color: map-get($global-colors, "white");
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 mu(2);
    max-width: map-get($max-width, "header");
    width: 100%;
    height: mu(10);

    .header-left {
      display: flex;
    
      &-logo {
        width: mu(17);
      }
    
      &-nav {
        margin-left: mu(3);
        display: flex;
        > li {
          margin: 0 mu(3);
          @include reset-horizon-margins;
          @include respond(tablet-landscape-phone) {
            margin: 0 mu(2);
          }
          > a p {
            font-weight: bold;
          }
        }
      }
    }
    
    .header-right {
      display: flex;
      
      &-contact {
        text-align: right;
        
        &-call {
          display: flex;
          align-items: center ;
          > img {
            width: mu(1);
          }
          > p {
            margin-left: mu(1);
            font-weight: bold;
          }
        }
      }
      
      &-button {
        display: flex;
        align-items: center;
        margin-left: mu(3);
        > a {
          display: flex;
          justify-content: center;
          align-items: center;
          > p {
            font-size: 14px;
            font-weight: bold;
          }
        }
        
        &-documents {
          @include square-button-style(map-get($global-colors, "sub"), mu(18), mu(6));
          > p {
            color: map-get($global-colors, "font-sub");
          }
        }
    
        &-contact {
          margin-left: mu(1);
          @include square-button-style(map-get($global-colors, "main"), mu(18), mu(6));
          > p {
            color: map-get($global-colors, "font-sub");
          }
        }
      }
    }
  }
}

.header-hamburger-wrapper{
  display: flex;
  align-items: center;

  #header-hamburger-toggle {
    position: fixed;
    cursor: pointer;
    right: mu(3);
    height: mu(4);
    z-index: map-get($z-index, "hamburger");
    
    .header-hamburger-toggle-content {
      position: relative;
      width: mu(5);
      height: 100%;
      span {
        display: block;
        align-items: center;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        transition: transform .6s ease-in-out, top .5s ease;
        background: map-get($global-colors, "main");
        &:first-child {
          top: mu(1);
        }
        &:nth-child(2) {
          top: mu(2);
        }
        &:last-child {
          top: mu(3);
        }
      }
    }
  }
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: map-get($z-index, "nav");
  background-color: map-get($global-colors, "main");
  &-content {
    margin: mu(4) mu(4);
    max-width: map-get($max-width, "nav");
    width: 100%;
    li {
      display: flex;
      align-items: center;
      padding: mu(2);
      border-top: 1px solid map-get($global-colors, "separate");      
      transform: translateX(-400%);
      transition: transform 0.8s ease-out;
      &:last-child {
        border-bottom: 1px solid map-get($global-colors, "separate");
      }
      a p {
        @include p-emphasize-style(map-get($global-colors, "white"));
      }
    }
  }
}

.header-nav-open {
  #header-hamburger-toggle {
    z-index: map-get($z-index, "nav-hamburger");

    .header-hamburger-toggle-content {
      span {
        background: map-get($global-colors, "white");
        &:first-child {
          top: mu(2);
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:last-child {
          top: mu(2);
          transform: rotate(-45deg);
        }
      }
    }
  }

  .header-nav {
    visibility: visible;

    &-content {
      li {
        transform: translateX(0);
      }
    }
  }
}