@use '../common/define' as *;
@use '../common/functions' as *;

.index-main-wrapper {
  background: url('../../images/index_main.jpg') no-repeat center center;
  background-size: cover;

  .index-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    * {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: map-get($global-colors, "font-sub");
    }
    
    &-title{
      @include h2-emphasize-style(map-get($global-colors, "white"));
      @include text-shadow-style(map-get($global-colors, "black"));
    }
    
    &-text {
      margin-top: mu(3);
    }
    
    &-button {
      margin-top: mu(6);
      &-content {
        @include rounded-button-style(map-get($global-colors, "sub"), mu(32), mu(7))
      }
    }
    
    &-inquiry {
      margin-top: mu(3);
      text-decoration: underline;
    }
  }
}

.index-section-trouble-wrapper {
  background-color: map-get($global-colors, "main");

  .index-section-trouble {
    * {
      color: map-get($global-colors, "font-sub");
    }
    > * {
      display: flex;
      justify-content: center;
      text-align: center;
    }
    
    &-list {
      @include respond(phone) {
        display: block;
      }
      > li {
        margin: 0 mu(4);
        @include respond(phone) {
          margin: mu(2) 0;
        }  
      }
    }
  
    &-introduction {
      margin: mu(10) 0 mu(7);
      * {
        color: map-get($global-colors, "font-main");
      }
      
      &-text {
        padding: mu(2);
        width: map-get($max-width, 'content');
        height: mu(31);
        background-color :map-get($global-colors, "white");

        &-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: mu(2) 0 mu(2);
          width: 100%;
          height: 100%;
          border: 5px solid map-get($global-colors, "font-main");
          @include respond(phone) {
            padding: mu(4) mu(2);
          }        
          &-main {
            @include p-emphasize-style(map-get($global-colors, "font-main"));
          }
        }
      }
    }
  }
}

.index-section-strong-wrapper {
  background-color: map-get($global-colors, "white");

  .index-section-strong {    
    &-feature-content {
      display: flex;
      margin: mu(8) 0;
      z-index: map-get($z-index, "main");

      @include reset-vertical-margins;
      &:nth-child(even) {
        .index-section-strong-feature-content-text {
          order: 2;
          margin: 0 0 0 mu(3);
        }
        .index-section-strong-feature-content-img {
          order: 1;
          margin: 0 mu(3) 0 0;
        }
      }
      @include respond(tablet-landscape-phone) {
        margin: mu(3) 0;
        @include reset-vertical-margins;
        &:first-child, &:nth-child(2), &:last-child {
          position: relative;
          &::after {
            position: absolute;
          }
        }
        &:first-child::after {
          @include background-image-style("../../images/feature01.jpg", 0.5, 0.5);
        }
        &:nth-child(2)::after {
          @include background-image-style("../../images/feature02.jpg", 0.5, 0.5);
        }
        &:last-child::after {
          @include background-image-style("../../images/feature03.jpg", 0.5, 0.5);
        }
      }
      
      &-text {
        margin: 0 mu(3) 0 0;
        @include reset-horizon-margins;
        @include respond(tablet-landscape-phone) {
          margin: 0;
          padding: mu(3);
        }

        &-label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: mu(11);
          height: mu(4);
          background-color: map-get($global-colors, "sub");
          > p {
            color : map-get($global-colors, "font-sub");
          }
        }

        &-title {
          margin-top: mu(4);
          > p {
            @include p-emphasize-style(map-get($global-colors, "font-main"));
            @include respond(tablet-landscape-phone) {
              color : map-get($global-colors, "font-sub");
            }
          }
        }
        
        &-content {
          margin-top: mu(4);
          > p {
            font-weight: medium;
            @include respond(tablet-landscape-phone) {
              color : map-get($global-colors, "font-sub");
            }
          }
        }
      }
      
      &-img {
        margin: 0 0 0 mu(3);
        width: 100%;
        max-height: mu(34);
        > img {
          width: mu(44);
          height: 100%;
        }
      }
    }
  
    &-plan {
      display: flex;
      justify-content: center;
      margin-top: mu(12);
      padding: mu(7) 0 mu(6);
      width: 100%;
      height: mu(27);
      background: url('../../images/price.png') no-repeat center center;
      background-size: cover;
  
      &-content {
        > p {
          @include p-emphasize-style(map-get($global-colors, "font-sub"));
        }
        
        &-button {
          display: flex;
          justify-content: center;
          margin-top: mu(3);
          width: 100%;

          &-content {
            display: flex;
            justify-content: center;
            align-items: center;
            @include rounded-button-style(map-get($global-colors, "white"), mu(25), mu(6));
            background-color: transparent;
            border: 1px solid map-get($global-colors, "white");
            > p {
              color: map-get($global-colors, "font-sub");
            }
          }
        }
      }
    }
  }
}

.index-section-success-wrapper {
  background-color: map-get($global-colors, "main");

  .index-section-success {
    * {
      color: map-get($global-colors, "font-sub");
    }
    
    &-example {
      display: flex;
      margin-top: mu(17);
      @include respond(tablet-landscape-phone) {
        display: block;
        margin-top: mu(8);
      }
      
      &-card {
        width: mu(35);
        margin: 0 mu(2);
        @include reset-horizon-margins;
        * {
          line-height: mu(4);
          color: map-get($global-colors, "font-main");
        }
        @include respond(tablet-landscape-phone) {
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: mu(3);
          width: auto;
          margin: mu(2) 0;
          @include reset-vertical-margins;
        }
  
        &-text {
          font-weight: bold;
          color: map-get($global-colors, "font-sub");
        }
        
        &-img {
          display: flex;
          justify-content: center;
          align-items: end;
          margin-top: mu(1);
          width: mu(35);
          height: mu(21);
          background-color: map-get($global-colors, "white");
          @include respond(tablet-landscape-phone) {
            margin-top: 0;
            width: 100%;
          }
          > img {
            width: 50%;
            height: 80%;
          }
        }
        
        &-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &-text {
            font-weight: bold;
            color: map-get($global-colors, "font-sub");   
          }

          &-personal {
            display: flex;
            align-items: center;
            margin-top: mu(2);
            > * {
              background-color: map-get($global-colors, "white");
            }

            &-job {
              padding-left: mu(1);
              width: mu(12);
            }
            
            &-name {
              margin-left: mu(1);
              padding-left: mu(1);
              width: 100%;
            }
          }

          &-result {
            display: flex;
            align-items: center;
            margin-top: mu(1);
            padding-left: mu(1);
            background-color: map-get($global-colors, "white");
          }
        }
      }
    }
  }
}

.index-section-Workflow-wrapper {
  background-color: map-get($global-colors, "white");

  .index-section-Workflow {
    &-content-list {
      display: flex;
      margin: mu(1) 0;
      height: mu(8); 
      background-color: map-get($global-colors, "fill");
      @include reset-vertical-margins;
      * {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @include respond(tablet-landscape-phone) {
        height: mu(12);
      }
      
      &-no {
        width: mu(8);
        height: 100%;
        background-color: map-get($global-colors, "sub");
        p {
          font-weight: bold;
          color: map-get($global-colors, "font-sub");
        }
      }

      &-text {
        &-item {
          position: relative;
          justify-content: flex-start;
          padding-left: mu(3);
          width: mu(26);
          .vertical-line {
            position: absolute;
            @include vertical-line-style(map-get($global-colors, "separate"), -15%, 100%, 130%);
          }
          p {
            font-weight: bold;
          }
        }
        
        &-description {
          padding-left: mu(7);
        }

        @include respond(tablet-landscape-phone) {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: flex-start;
          width: 100%;
          padding: mu(2);
          > * {
            padding: 0;
          }
        }
      }
    }
  }
}

.index-section-qa-wrapper {
  .index-section-qa {
    &-content-toggle {
      padding: mu(4) 0 mu(4);
      border-top: 1px solid map-get($global-colors, "main");      
      &:last-child {
        border-bottom: 1px solid map-get($global-colors, "main");
      }
      
      &-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &-toggle {
          position: relative;
          margin-right: mu(3);
          width: mu(3);
          height: mu(3);
          cursor: pointer;
          
          .bar {
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: map-get($global-colors, "main");
            transition: transform .6s ease-in-out, top .5s ease;
            &:first-child {
              top: mu(1);
            }
            &:last-child {
              transform: rotate(90deg);
              top: mu(1);
            }
          }
        }
        
        .bar-toggle-open {
          .bar {
            &:last-child {
              transform: rotate(0);
            }
          }
        }
      }
      
      &-answer {
        display: none;
        margin-top: mu(2);
        padding: mu(3) 0 mu(3) mu(3);
        background-color: map-get($global-colors, "fill");
      }
    }
  }
}

.index-section-blog-and-notice-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  
  .index-section-blog-and-notice-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: mu(8);
    max-width: map-get($max-width, "content");
    @include respond(tablet-landscape-phone) {
      display: block;
    }

    .index-section-blog-wrapper {
      margin-right: mu(8);

      .index-section-blog {
        @include respond(tablet-landscape-phone) {
          width: 100%;
        }

        &-title {
          text-align: start;
          @include respond(tablet-landscape-phone) {
            text-align: center;
          }
        }
        
        &-content-post {
          &:first-child {
            .index-section-blog-content-post-img {
              background: url("../../images/sample01.jpg") no-repeat center center;
              background-size: cover;
            }
          }
          &:nth-child(2) {
            .index-section-blog-content-post-img {
              background: url("../../images/sample02.jpg") no-repeat center center;
              background-size: cover;
            }
          }
          &:last-child {
            .index-section-blog-content-post-img {
              background: url("../../images/sample03.jpg") no-repeat center center;
              background-size: cover;
            }
          }
          display: flex;
          margin: mu(4) 0;
          height: mu(14);
          @include reset-vertical-margins;

          &-img {
            width: mu(19);
            height: 100%;
            @include respond(tablet-landscape-phone) {
              width: mu(24);
            }
    
            &-category {
              display: flex;
              justify-content: center;
              align-items: center;
              width: mu(10);
              height: mu(3);
              background-color: map-get($global-colors, "main");
              border: 1px solid map-get($global-colors, "box-border-main");
              > p {
                @include p-small-style(map-get($global-colors, "font-sub"));
              }
            }
          }
          
          &-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: mu(3);
            width: mu(36);
            @include respond(tablet-landscape-phone) {
              width: 100%;
            }

            &-title {
              > p {
                font-weight: bold;
                text-decoration: underline;
              }
            }

            &-date {
              > p {
                @include p-small-style(map-get($global-colors, "font-main"));
              }
            }
          }
        }
      }
    }

    .index-section-notice-wrapper {
      margin-right: mu(8);

      .index-section-notice {
        @include respond(tablet-landscape-phone) {
          width: 100%;
        }
        &-title {
          text-align: start;
          @include respond(tablet-landscape-phone) {
            text-align: center;
          }
        }

        &-content-post {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: mu(2) 0;
          @include reset-vertical-margins;

          &-date {
            @include p-small-style(map-get($global-colors, "font-main"));
          }

          &-title {
            margin-top: mu(2);
            height: mu(7);
            text-decoration: underline;
          }
        }
      }
    }
  }
}