@use "../common/define" as *;
@use "../common/functions" as *;

.archive-news-main-wrapper {
  background: url("../images/news_main_2x.png") no-repeat center center;
  background-size: cover;

  .archive-news-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    * {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: map-get($global-colors, "font-sub");
    }

    &-title {
      @include h2-emphasize-style(map-get($global-colors, "white"));
    }
  }
}

.archive-news-section-post-wrapper {
  .archive-news-section-post {
    &-content {
      &-item {
        display: flex;
        align-items: center;
        height: mu(8);
        border-top: 1px solid map-get($global-colors, "separate");
        &:last-child {
          border-bottom: 1px solid map-get($global-colors, "separate");
        }
        &-date {
          min-width: mu(10);
        }
        &-text {
          margin-left: mu(6);
          overflow: hidden;
            p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
